* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

:root {
    --principal-color: #0033c6;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #fcfcfc;
}

header {
    height: 116px;
    background-color: black;
}

main {
    align-items: center;
    justify-items: center;
    padding-top: 56px;
}

.container-1,
.container-2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 56px;
}

.card {
    width: 208px;
    height: 413px;
    border-radius: 6px;
    background-color: aqua;
}

h1 {
    color: var(--principal-color);
    font-size: 26px;
    justify-items: start;
    align-items: center;
    padding-bottom: 34px;
}

footer {
    height: 472px;
    background-color: royalblue;
}