* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

:root {
    --logo-color: #1E4DD8;
    --borda-color: #cccccc;
    --bahia-color: #A020F0;
    --white-color: #fcfcfc;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: var(--white-color);
}

.banner {
    height: 28px;
    background-color: #f0efea;
    border-bottom: 3.4px solid var(--bahia-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    color: var(--bahia-color);
    font-weight: bold;
}

.box-red {
    background-color: var(--bahia-color);
    color: var(--white-color);
    width: 214px;
    border-radius: 15px 0px 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-blue {
    background-color: var(--logo-color);
    color: var(--white-color);
    width: 213px;
    border-radius: 15px 0px 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    display: flex;
    width: 1119px;
    height: 68px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: var(--bahia-color);
}

.home span {
    color: var(--logo-color);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.input-icon {
    background-image: url('img/search.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    border: 1px solid var(--borda-color);
    background-size: 22px;
    border-radius: 5px;
    padding-left: 20px;
    width: 515px;
    height: 35px;
    font-size: 13px;
}

.home img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 12px;
    width: 1119px;
    color: var(--logo-color);
}

.menu-direita {
    display: flex;
    gap: 15px;

}

.menu-esquerda {
    display: flex;
    gap: 15px;
    justify-content: end;
}

.menu img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    align-items: center;
    margin-right: 4px;
    padding-bottom: 3px;
}

main {
    align-items: center;
    justify-items: center;
    padding-top: 56px;
}

.container-1,
.container-2 {
    display: flex;
    gap: 20px;
    padding-bottom: 56px;
}

.card {
    width: 208px;
    height: 413px;
    border-radius: 6px;
    border: 1px solid var(--borda-color);
    padding: 0px 23px 0 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 150px;
    height: 130px;
    margin-bottom: 9px;
}

.card p {
    align-self: flex-start;
    font-size: 13px;
    line-height: 22px;
}

h1 {
    color: var(--bahia-color);
    font-size: 26px;
    justify-items: start;
    align-items: center;
    padding-bottom: 34px;
}

.central-container {
    font-size: 13px;
    padding-bottom: 30px;
}

.central-container span {
    color: var(--logo-color);
    font-weight: bold;
}

.atendimento-container {
    background-color: #e7e7e7;
    height: 80px;
    padding-top: 13px;
    justify-content: space-between;
}

.atendimento-secundario {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #575757;
    line-height: 27px;
    width: 1119px;
    margin: 0 auto;
}

.atendimento-container span {
    color: var(--bahia-color);
}

.atendimento {
    width: 185px;
}

.contato-container {
    width: 1119px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    line-height: 35px;
}