* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: rgb(135, 247, 255);
    flex-direction: column;
}

header {
    height: 116px;
    background-color: black;
}

main {
    display: flex;
    height: 1100px;
    background-color: rgb(247, 17, 17);
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container {
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 3px;;
    background-color: aqua;
}

.container-2 {
    width: 200px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 3px;;
    background-color: aqua;
}

/* .container img {
    width: 70px;
    height: 100px;
    border-radius: 90%;
    max-width: 100%;
}

.container p {
    font-family: "Inter", sans-serif;
    font-size: 15px;
} */

h1 {
    background-color: rgb(37, 240, 189);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* .container {
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 3px;;
    background-color: aqua;
}

.container img {
    width: 70px;
    height: 100px;
    border-radius: 90%;
    max-width: 100%;
}

.container p {
    font-family: "Inter", sans-serif;
    font-size: 15px;
} */

footer {
    height: 472px;
}